body {
	background-color: #62C299;
	font-family: sans-serif;
	font-size: 12px;
	font-variant: small-caps;
	border: solid: #62C299; 
	margin-right: auto;
	margin-left: auto;
}

h1 {
	text-align: center;
	padding-top: 100px;
	
}

.ct-chart {
	padding-top: 100px;
	padding-bottom: 500px;
	page-break-after: always;
}

.ct-graph {
	padding-top: 100px;
	padding-bottom: 500px;
	page-break-after: always;
}

.bild1 {
	text-align: center;
	padding-top: 100px;
	padding-bottom: auto;
	page-break-after: always;
}

.github {
	text-align: center;
}
